* {
    font-family: fantasy;
    color: #89CFF0;
    text-align: center;
    /* margin: 0;
    padding: 0; */
}

#blog {
    /* width: 825px; */
    /* margin: 50px auto; using shorthand to give top and bottom zero and 
    left and right auto
    */
    border: 2px solid black;
}

#blogTitle {
    font-size: 30px;
    font-family: fantasy;
    background-color: #89CFF0;
    margin-bottom: 0;
    color: white;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* used to create centered image */
}

#indent{
    text-indent: 30px;
}

.parent {
    display: inline-block;
}

.box {
    display: inline-block;
    background: #89CFF0;
    text-align: left;
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 15px;;
}
