* {
    font-family: fantasy;
    color: #89CFF0;
    text-align: center;
    margin: 0;
    padding: 0;
}

#blog {
    /* width: 825px; */
    /* margin: 50px auto; using shorthand to give top and bottom zero and 
    left and right auto
    */
    /* border: 2px solid black; */
}

#blogTitle {
    font-size: 30px;
    font-family: fantasy;
    background-color: #89CFF0;
    margin-bottom: 0;
    color: white;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* used to create centered image */
}

#indent{
    text-indent: 30px;
}

.parent {
    display: inline-block;
}

.box {
    display: inline-block;
    background: #89CFF0;
    text-align: left;
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 15px;;
}

body{
    height: 100vh;
    width: 100vw;
    background: url(/5499459.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: block;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 30% 20% 25%;
    grid-template-areas:
    "header header header"
    ". inputs ."
    ". outputs .";
}
#header{
    grid-area: header;
    display: grid;
    place-items: center;
}
footer{
    display: grid;
    place-items: center;
}
#inputs{
    grid-area:inputs;
    display: grid;
    grid-template-columns: repeat(2,1fr);

    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "selectCrypto selectCurrency"
    "btn btn";
    place-items: center;
}
#btn{
    grid-area: btn;

}
button{
    background: transparent;
    border: 2px solid #9eeaf0;
    font-size: 1.5rem;
    border-radius: 2em;
}
button:hover{
    background: #9eeaf0;
    color: #333;
}

#selectCrypto{
    grid-area: selectCrypto;
}
#selectCurrency{
    grid-area: selectCurrency;
}
#outputs{
    grid-area:outputs;
    display: grid;
    place-items: center;
}
#inpCrypto{
    margin-top: 1rem;
    border: 1px solid rgb(21, 236, 243);
    width: max-content;
}
#inpCrypto{
    margin-top: 1rem;
    border: 1px solid rgb(21, 236, 243);
    width: max-content;

}
#price{
    margin-top: 1rem;
    width: auto;
    z-index: 1;
    display: none;
    font-size: 1.2rem;
    color: black;
    border-radius: 2em;
    /* width: 10vh; */
}
select{
    background: transparent;
    border: 2px solid #9eeaf0;
    color: black;
    border-radius: 2em;
    font-size: 1em;
    height: 2em;
    width: 9em;
}
select:hover{
    background: #9eeaf0;
}
option{

    color: black;
}
